In [29]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
room_Bookings = pd.read_csv(r'C:\Users\Dell\Desktop\New_roomBookings.csv') #reading the csv file
room_Bookings.isnull() # checking for the null or empty values

,_id,id,aula,polo,sede,day,month,year,time.start,time.end,bookingDate
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
3293,False,False,False,False,False,False,False,False,False,False,False
3294,False,False,False,False,False,False,False,False,False,False,False
3295,False,False,False,False,False,False,False,False,False,False,False
3296,False,False,False,False,False,False,False,False,False,False,False
3297,False,False,False,False,False,False,False,False,False,False,False

In [30]:
room_Bookings.isnull().sum() #getting the sum of all columns null values

_id            0
id             0
aula           0
polo           0
sede           0
day            0
month          0
year           0
time.start     0
time.end       0
bookingDate    0
dtype: int64

In [31]:
length=len(room_Bookings) #length of the csv file
print(length)

3298

In [32]:
print(room_Bookings)

                           _id     id  aula  polo  sede  day  month  year  \
0     5fa8267c1bd2a03f4641a0a1  10000   112    26  1000   12     11  2020
1     5fa826f01bd2a03f4641a0a3  10000   112    26  1000   12     11  2020
2     5fa8271f1bd2a03f4641a0a5  10001   113    27  1000    9     11  2020
3     5fa827301bd2a03f4641a0a7  10001   113    27  1000    9     11  2020
4     5fa8274c1bd2a03f4641a0a9  10001   113    27  1000    9     11  2020
...                        ...    ...   ...   ...   ...  ...    ...   ...
3293  5fd9de93ff3b76b96dd79893  10084   113    27  1000   16     12  2020
3294  5fd9ded1ff3b76b96dd79895  10300   113    27  1000   16     12  2020
3295  5fd9dedfff3b76b96dd79897  10300   113    27  1000   16     12  2020
3296  5fd9e0f2ff3b76b96dd798a1  10044   113    27  1000   16     12  2020
3297  5fd9e104ff3b76b96dd798a3  10044   113    27  1000   16     12  2020

      time.start  time.end               bookingDate
0           8.30     10.30  2020-11-08T17:10:20.337Z
1          10.45     12.45  2020-11-08T17:12:16.357Z
2           8.30     10.30  2020-11-08T17:13:03.208Z
3          10.45     12.45  2020-11-08T17:13:20.913Z
4          14.15     16.15  2020-11-08T17:13:48.793Z
...          ...       ...                       ...
3293       14.15     16.15  2020-12-16T10:16:51.017Z
3294       14.15     16.15  2020-12-16T10:17:53.122Z
3295       16.30     18.30  2020-12-16T10:18:07.068Z
3296       14.15     16.15  2020-12-16T10:26:58.767Z
3297       16.30     18.30  2020-12-16T10:27:16.407Z

[3298 rows x 11 columns]

In [33]:
room_Bookings['bookingDate'] = pd.to_datetime(room_Bookings['bookingDate']).dt.date #changing the date time format
print(room_Bookings)

                           _id     id  aula  polo  sede  day  month  year  \
0     5fa8267c1bd2a03f4641a0a1  10000   112    26  1000   12     11  2020
1     5fa826f01bd2a03f4641a0a3  10000   112    26  1000   12     11  2020
2     5fa8271f1bd2a03f4641a0a5  10001   113    27  1000    9     11  2020
3     5fa827301bd2a03f4641a0a7  10001   113    27  1000    9     11  2020
4     5fa8274c1bd2a03f4641a0a9  10001   113    27  1000    9     11  2020
...                        ...    ...   ...   ...   ...  ...    ...   ...
3293  5fd9de93ff3b76b96dd79893  10084   113    27  1000   16     12  2020
3294  5fd9ded1ff3b76b96dd79895  10300   113    27  1000   16     12  2020
3295  5fd9dedfff3b76b96dd79897  10300   113    27  1000   16     12  2020
3296  5fd9e0f2ff3b76b96dd798a1  10044   113    27  1000   16     12  2020
3297  5fd9e104ff3b76b96dd798a3  10044   113    27  1000   16     12  2020

      time.start  time.end bookingDate
0           8.30     10.30  2020-11-08
1          10.45     12.45  2020-11-08
2           8.30     10.30  2020-11-08
3          10.45     12.45  2020-11-08
4          14.15     16.15  2020-11-08
...          ...       ...         ...
3293       14.15     16.15  2020-12-16
3294       14.15     16.15  2020-12-16
3295       16.30     18.30  2020-12-16
3296       14.15     16.15  2020-12-16
3297       16.30     18.30  2020-12-16

[3298 rows x 11 columns]

In [34]:
duplicates_if_any= room_Bookings[room_Bookings.duplicated()] #looking for the duplicates if any present in data
print(duplicates_if_any)

Empty DataFrame
Columns: [_id, id, aula, polo, sede, day, month, year, time.start, time.end, bookingDate]
Index: []

In [27]:
cleaned_data= Presence.to_csv (r'C:\Users\Dell\Desktop\Cleaned_roomdata.csv', index = None, header=True) #exporting the cleaned data into csv file